<div class="container">
	<h1>{{player.player.name}}
	<small>Total Score: {{player.player.total_score}}</small></h1>
	<button class="btn btn-default" ng-click="editPlayer(player.player.id)">Edit Player Name</button>
	<button class="btn btn-default" ng-click="deletePlayer(player.player.id)">Delete Player</button>
	<br>
	<div class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title">Games</h3>
  	</div>
 		<table class="table table-hover">
			<thead>
				<tr>
					<th>Board No.</th>
				  <th>Centers</th>
				  <th>Score</th>
				  <th>Country</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="game in player.player.games | orderBy: 'board_number'" ng-click="viewBoard(game.board_number)">
				  <td>{{game.board_number}}</td>
				  <td>{{game.center_count}}</td>
				  <td>{{game.score}}</td>
				  <td>{{game.country}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
