<div class="container">
	<div class="row">
		<div class="col-sm-1">
			<h3>Players</h3>
		</div>
		<div class="col-sm-11">
			<h3><button class="btn btn-default" ng-show="state===true" ng-click="presence()">Add Player</button></h3>
			<add-player ng-hide="state===true"></add-player>
		</div>
	</div>
	<br>
	<div class="row">
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th>Rank</th>
		      <th>Player Name</th>
		      <th>Score</th>
		     </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="player in players.players | orderBy: ['rank', '-total_score']" playerinfo="player" ng-click="viewPlayer(player.id)"></tr>
		  </tbody>
		</table>
	</div>
</div>


